/*CSS*/

html {
    scroll-behavior: smooth;
}

body{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1920' preserveAspectRatio='none' viewBox='0 0 1920 1920'%3E%3Cg mask='url(&quot;%23SvgjsMask1439&quot;)' fill='none'%3E%3Crect width='1920' height='1920' x='0' y='0' fill='url(%23SvgjsLinearGradient1440)'%3E%3C/rect%3E%3Cpath d='M1094.888,1259.127C1261.249,1266.632,1420.851,1176.099,1500.826,1030.029C1578.024,889.03,1547.06,720.213,1465.927,581.441C1385.678,444.183,1253.832,339.763,1094.888,335.706C929.147,331.476,766.666,414.869,689.527,561.626C616.667,700.242,669.102,860.666,747.788,996.06C825.972,1130.59,939.447,1252.115,1094.888,1259.127' fill='rgba(14, 25, 160, 0.44)' class='triangle-float1'%3E%3C/path%3E%3Cpath d='M-129.44310919361413 1820.1317567162407L228.8665376118127 1929.6780092072759 338.41279010284774 1571.368362401849-19.896856702579086 1461.8221099108139z' fill='rgba(14, 25, 160, 0.44)' class='triangle-float1'%3E%3C/path%3E%3Cpath d='M-155.87 826.91 a348.72 348.72 0 1 0 697.44 0 a348.72 348.72 0 1 0 -697.44 0z' fill='rgba(14, 25, 160, 0.44)' class='triangle-float3'%3E%3C/path%3E%3Cpath d='M1607.0018896252627 1995.6847354703773L2104.5239820171023 1579.0214778487855 1574.9181515927467 1375.7248468038101z' fill='rgba(14, 25, 160, 0.44)' class='triangle-float3'%3E%3C/path%3E%3Cpath d='M978.7036440275643 732.9759282586981L1279.8358716827854 1023.7759402379929 1570.6358836620802 722.6437125827719 1269.5036560068593 431.84370060347703z' fill='rgba(14, 25, 160, 0.44)' class='triangle-float3'%3E%3C/path%3E%3Cpath d='M1493.942,2208.605C1646.548,2214.711,1820.362,2211.143,1902.343,2082.283C1988.297,1947.177,1943.117,1771.941,1858.064,1636.267C1778.727,1509.712,1643.178,1437.069,1493.942,1430.814C1331.493,1424.005,1153.597,1462.251,1072.816,1603.356C992.382,1743.854,1046.016,1918.828,1138.48,2051.718C1217.762,2165.663,1355.24,2203.055,1493.942,2208.605' fill='rgba(14, 25, 160, 0.44)' class='triangle-float1'%3E%3C/path%3E%3Cpath d='M837.4547930032134 1118.5177585455292L351.37894190351136 1186.8312643877568 419.69244774573895 1672.9071154874587 905.768298845441 1604.5936096452313z' fill='rgba(14, 25, 160, 0.44)' class='triangle-float2'%3E%3C/path%3E%3Cpath d='M364.7847002590104-61.79662058244608L487.07969444277086 394.6145112226885 943.4908262479055 272.3195170389281 821.195832064145-184.0916147662066z' fill='rgba(14, 25, 160, 0.44)' class='triangle-float3'%3E%3C/path%3E%3Cpath d='M-420.68 33.67 a489.68 489.68 0 1 0 979.36 0 a489.68 489.68 0 1 0 -979.36 0z' fill='rgba(14, 25, 160, 0.44)' class='triangle-float3'%3E%3C/path%3E%3Cpath d='M-161.53567469372862 1729.800065332342L-197.70602870714418 2073.9379958542304 336.58604408239574 1956.1245616134095z' fill='rgba(14, 25, 160, 0.44)' class='triangle-float1'%3E%3C/path%3E%3Cpath d='M628.5075642890457 719.7745255017592L1074.0702079674006 616.9082839226135 971.2039663882548 171.34564024425856 525.6413227099 274.2118818234043z' fill='rgba(14, 25, 160, 0.44)' class='triangle-float2'%3E%3C/path%3E%3C/g%3E%3Cdefs%3E%3Cmask id='SvgjsMask1439'%3E%3Crect width='1920' height='1920' fill='%23ffffff'%3E%3C/rect%3E%3C/mask%3E%3ClinearGradient x1='100%25' y1='0%25' x2='0%25' y2='100%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1440'%3E%3Cstop stop-color='%230e2a47' offset='0'%3E%3C/stop%3E%3Cstop stop-color='rgba(67, 220, 217, 1)' offset='1'%3E%3C/stop%3E%3C/linearGradient%3E%3Cstyle%3E @keyframes float1 %7B 0%25%7Btransform: translate(0, 0)%7D 50%25%7Btransform: translate(-10px, 0)%7D 100%25%7Btransform: translate(0, 0)%7D %7D .triangle-float1 %7B animation: float1 5s infinite; %7D @keyframes float2 %7B 0%25%7Btransform: translate(0, 0)%7D 50%25%7Btransform: translate(-5px, -5px)%7D 100%25%7Btransform: translate(0, 0)%7D %7D .triangle-float2 %7B animation: float2 4s infinite; %7D @keyframes float3 %7B 0%25%7Btransform: translate(0, 0)%7D 50%25%7Btransform: translate(0, -10px)%7D 100%25%7Btransform: translate(0, 0)%7D %7D .triangle-float3 %7B animation: float3 6s infinite; %7D %3C/style%3E%3C/defs%3E%3C/svg%3E");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1000px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tr1{
    font-size: x-large;
    border: 4px solid #31A0A7;
    text-align: center;
}

.tr2{
    font-size: large;
    text-align: center;
}

.tr3{
    text-align: center;
    font-size: x-large;
}

.tabulka{
    width: 100%;
    height: 100%;
    max-height: fit-content;
    max-height: fit-content;
    text-align: center;
    margin: auto;
    background-color:#31A0A7;
    border: 4px solid #31A0A7;
    border-collapse: collapse;
    table-layout: auto;
    border-radius: 30px;
}

.tabulka1{
    width: 35%;
    height: 375px;
    max-height: fit-content;
    max-height: fit-content;
    text-align: center;
    margin: auto;
    background-color:#ffffff;
    border-collapse: collapse;
    table-layout: inherit;
    border: 5px solid #31A0A7;
}

.tabulka2 {
    width: 45%;
    height: 50%;
    max-height: fit-content;
    max-height: fit-content;
    text-align: center;
    margin: auto;
    background-color:#ffffff;
    border-collapse: collapse;
    table-layout: inherit;
    border: 3px solid #31A0A7;
}

table td {
	padding: 5px;
    border: 2px solid #31A0A7;
}

.obrazek{
    height: 120%;
    width: 100%;
}

.obr {
    height: 110%;
    width: 90%;
    max-height: fit-content;
    box-shadow: -2px 11px 16px 17px rgba(30, 30, 60, 0.61);
    text-align: center;
}

.obr1 {
    height: 200px;
    width: 350px;
    text-align: center;
}

.h1{
    text-align: center;
}

.button{
    width: 100%;
    height: 100%;
    background: hsl(324deg 100% 50%);
    background-image: linear-gradient(45deg, #4F8AF9 0%, #55CBF2 100%);
    border: none;
    position: center;
    display: inline-block;
    border-radius: 30px;
    padding: 15px 25px;
}

.button1{
    width: 10%;
    height: 100%;
    background: hsl(324deg 100% 50%);
    background-image: linear-gradient(45deg, #4F8AF9 0%, #55CBF2 100%);
    border: none;
    position: center;
    display: inline-block;
    border-radius: 30px;
    padding: 15px 25px;
}

.previous {
    background-color: #f1f1f1;
    color: black;
  }
  
.next {
    background-color: #f1f1f1;
    color: black;
}