/*CSS*/

html {
    scroll-behavior: smooth;
}

body{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1920' preserveAspectRatio='none' viewBox='0 0 1920 1920'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2988%26quot%3b)' fill='none'%3e%3crect width='1920' height='1920' x='0' y='0' fill='url(%23SvgjsRadialGradient2989)'%3e%3c/rect%3e%3cpath d='M616.287%2c956.203C722.146%2c962.707%2c836.38%2c927.677%2c887.061%2c834.511C936.237%2c744.11%2c891.791%2c637.852%2c836.773%2c550.883C786.433%2c471.309%2c710.342%2c410.929%2c616.287%2c406.491C513.922%2c401.661%2c405.91%2c438.413%2c356.555%2c528.224C308.507%2c615.658%2c345.841%2c719.149%2c397.601%2c804.438C446.94%2c885.738%2c521.366%2c950.371%2c616.287%2c956.203' fill='rgba(32%2c 95%2c 159%2c 0.72)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M425.048%2c565.583C494.22%2c566.193%2c559.188%2c531.047%2c594.22%2c471.399C629.702%2c410.985%2c626.599%2c338.095%2c595.54%2c275.293C559.994%2c203.417%2c505.025%2c135.099%2c425.048%2c129.328C336.368%2c122.929%2c244.578%2c167.141%2c205.854%2c247.176C170.37%2c320.515%2c214.768%2c401.352%2c260.965%2c468.46C299.592%2c524.571%2c356.93%2c564.982%2c425.048%2c565.583' fill='rgba(32%2c 95%2c 159%2c 0.72)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M941.594%2c1496.247C989.037%2c1493.17%2c1029.512%2c1467.348%2c1055.594%2c1427.598C1085.084%2c1382.654%2c1110.408%2c1326.386%2c1083.634%2c1279.773C1056.8%2c1233.055%2c995.443%2c1227.425%2c941.594%2c1229.126C891.468%2c1230.71%2c842.034%2c1246.504%2c814.292%2c1288.283C783.315%2c1334.934%2c769.508%2c1396.494%2c798.744%2c1444.255C827.098%2c1490.576%2c887.398%2c1499.761%2c941.594%2c1496.247' fill='rgba(32%2c 95%2c 159%2c 0.72)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M545.05 64.95 a439.34 439.34 0 1 0 878.68 0 a439.34 439.34 0 1 0 -878.68 0z' fill='rgba(32%2c 95%2c 159%2c 0.72)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M11.671018713547113 852.1158539027801L506.0827347385724 1114.9992264372224 274.55439124798943 357.7041378777549z' fill='rgba(32%2c 95%2c 159%2c 0.72)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M648.633%2c472.264C781.11%2c480.361%2c933.463%2c485.247%2c1007.131%2c374.845C1086.198%2c256.351%2c1056.219%2c96.838%2c979.032%2c-22.889C908.106%2c-132.904%2c779.478%2c-184.874%2c648.633%2c-181.231C524.438%2c-177.773%2c409.445%2c-113.682%2c348.636%2c-5.337C289.061%2c100.809%2c294.029%2c232.142%2c358.774%2c335.217C419.703%2c432.217%2c534.298%2c465.276%2c648.633%2c472.264' fill='rgba(32%2c 95%2c 159%2c 0.72)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1993.5576216049708 431.6920551103423L1704.9387016527057 75.2773715390727 1637.1429380337013 720.3109750626074z' fill='rgba(32%2c 95%2c 159%2c 0.72)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-268.3670650542652 917.1867108219719L230.82729872633143 1171.5389434123658 485.1795313167252 672.3445796317691-14.014832463871414 417.9923470413753z' fill='rgba(32%2c 95%2c 159%2c 0.72)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1065.6304063186437 1290.406606669785L1565.8209325919076 1264.1927319693875 1539.60705789151 764.0022056961235 1039.4165316182462 790.2160803965212z' fill='rgba(32%2c 95%2c 159%2c 0.72)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1066.1593225130057 936.8509114244808L750.7491791047712 410.7852988754861 482.6561775661105 875.1359986940877z' fill='rgba(32%2c 95%2c 159%2c 0.72)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M331.731%2c1625.77C447.407%2c1617.733%2c545.415%2c1555.641%2c610.624%2c1459.759C687.482%2c1346.749%2c759.814%2c1209.171%2c697.932%2c1087.314C632.154%2c957.787%2c476.968%2c907.363%2c331.731%2c910.571C192.452%2c913.647%2c64.081%2c983.368%2c-7.484%2c1102.894C-81.123%2c1225.883%2c-101.487%2c1383.556%2c-23.469%2c1503.815C49.554%2c1616.375%2c197.882%2c1635.07%2c331.731%2c1625.77' fill='rgba(32%2c 95%2c 159%2c 0.72)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2988'%3e%3crect width='1920' height='1920' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient cx='0%25' cy='100%25' r='2715.29' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient2989'%3e%3cstop stop-color='rgba(9%2c 169%2c 184%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(56%2c 184%2c 188%2c 1)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
    min-width: fit-content;
    max-height: fit-content;
    min-height: 1000px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tr1{
    font-size: x-large;
    border: 4px solid #31A0A7;
    text-align: center;
    color: black;
    margin: auto;
}

.tr2{
    font-size: large;
    text-align: center;
    color: black;
    margin: auto;
}

.tr3{
    text-align: center;
    font-size: x-large;
    color: black;
    margin: auto;
}

.tabulka{
    width: 100%;
    height: 100%;
    min-height: fit-content;
    min-width: fit-content;
    max-height: fit-content;
    text-align: center;
    margin: auto;
    background-color:#31A0A7;
    border: 4px solid #31A0A7;
    border-collapse: collapse;
    table-layout: auto;
    border-radius: 30px;
}

.tabulka1{
    width: 35%;
    height: 375px;
    min-height: fit-content;
    min-width: 350px;
    max-height: fit-content;
    max-width: fit-content;
    text-align: center;
    margin: auto;
    background-color:#ffffff;
    border-collapse: collapse;
    table-layout: inherit;
    border: 5px solid #31A0A7;
}

.tabulka2{
    width: 45%;
    height: 50%;
    min-height: fit-content;
    max-width: fit-content;
    max-height: fit-content;
    text-align: center;
    margin: auto;
    background-color:#ffffff;
    border-collapse: collapse;
    table-layout: inherit;
    border: 3px solid #31A0A7;
}

table td{
	padding: 5px;
    border: 2px solid #31A0A7;
}

.obrazek{
    height: 120%;
    width: 100%;
    min-height: fit-content;
    max-height: fit-content;
}

.obr{
    height: 110%;
    width: 90%;
    min-height: fit-content;
    max-width: fit-content;
    max-height: fit-content;
    box-shadow: -2px 11px 16px 17px rgba(30, 30, 60, 0.61);
    text-align: center;
}

.obr1{
    height: 200px;
    width: 350px;
    min-height: fit-content;
    min-width: fit-content;
    max-width: fit-content;
    max-height: fit-content;
    text-align: center;
}

.obr2{
    height: 90%;
    width: 100%;
    min-height: fit-content;
    min-width: fit-content;
    max-width: fit-content;
    max-height: fit-content;
    text-align: center;
}

.h1{
    text-align: center;
    color: black;
    text-decoration: none;
    margin: auto;
}

.button{
    width: 100%;
    height: 100%;
    max-height: 100px;
    min-width: 100px;
    background: hsl(324deg 100% 50%);
    background-image: linear-gradient(45deg, #4F8AF9 0%, #55CBF2 100%);
    border: none;
    position: center;
    display: inline-block;
    border-radius: 30px;
    padding: 15px 25px;
}

.button1{
    width: 10%;
    height: 100%;
    background: hsl(324deg 100% 50%);
    background-image: linear-gradient(45deg, #4F8AF9 0%, #55CBF2 100%);
    border: none;
    position: center;
    display: inline-block;
    border-radius: 30px;
    padding: 15px 25px;
}

.button2{
    width: 200px;
    height: 100px;
    background: hsl(324deg 100% 50%);
    background-image: linear-gradient(45deg, #4F8AF9 0%, #55CBF2 100%);
    border: none;
    position: center;
    display: inline-block;
    border-radius: 30px;
    padding: 15px 25px;
}

input{
    width: 90%;
    height: 80%;
    min-width: 75px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    font-size: large;
    text-align: center;
}

#proklik{
    width: 440px;
    height: 300px;
    margin: auto;
    position: relative;
} 

#proklik #gallery {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-align: center;
} 

#proklik #gallery div {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
} 

#proklik #gallery div img {
    clear: both;
    display: block;
    margin: 0 auto;
    border: 0;
} 

#gallery .previous{ 
    display: inline;
    float: left;
    margin-left: 25px;
    text-decoration: none;
    color: black;
} 

#gallery .next{ 
    display: inline;
    float: right;
    margin-right: 25px;
    text-decoration: none;
    color: black;
}